<style>
  .category-title {
    text-decoration: underline;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .main_text {
    font-weight:  bold;
    font-size: 18px;
  }
  .sub_text {
    font-style: italic;
  }
  .owner_text {
    font-style: italic;
    font-weight: bold;
  }
</style>

<p class="category-title">List of projects:</p>
<ul *ngIf="data$ | async as data; else empty">
  <li *ngFor="let project of data">
    <p>
      <span class="main_text"> {{ project.id }}: {{ project.name }}: </span>
      <span class="sub_text"> {{ project.description }}, owner: </span> <span class="owner_text">{{project.owner}} </span>
    </p>
  </li>
</ul>
<br>
<ng-template #empty> There is no data </ng-template>


