<style>
  body {
    margin-left: 20px;
  }
  .header_text {
    font-weight: bold;
    font-size: 20px;
  }
  button {
    margin-left: 20px;
  }
  table {
    width: 35%;
  }
</style>


<body>

<table class="table" *ngIf="data$ | async as data; else empty">
  <tr class="header_text">
    <th></th>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col">Salary</th>
  </tr>

  <tr class="content_text" *ngFor="let employee of data">
    <td>{{employee.id}}.</td>
    <td>{{employee.name}}</td>
    <td>{{employee.age}}</td>
    <td>{{employee.salary}}</td>
    <td><button (click)="delete_employee(employee)">Remove</button></td>
  </tr>
</table>

<ng-template #empty>No data</ng-template>

</body>
