<style>
  .category-title {
    text-decoration: underline;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .main_text {
    font-weight:  bold;
    font-size: 18px;
  }
  .sub_text {
    font-style: italic;
  }

</style>

<p class="category-title">List of employees:</p>
<ul *ngIf="data$ | async as data; else empty">
  <li *ngFor="let employee of data">
    <p>
      <span class="main_text"> {{ employee.personalNumber }}: {{ employee.name }}; </span>
      <span class="sub_text"> {{ employee.mail }} </span> <button (click)="delete_employee(employee.personalNumber)">Remove</button>
    </p>
  </li>
</ul>
<ng-template #empty> There is no data </ng-template>


