<style>
  #list {
    list-style-type: none; /* removes bullet points */
    padding: 0;
    margin: 0;
  }
  #list-element {
    display: inline-block;
    margin: 10px;
  }
</style>


<ul id="list" *ngIf="data$ | async as data; else empty">
  <li id="list-element" *ngFor="let employee of data">
        <img [src]="employee.img" alt="picture of the employee {{employee.name}}" width="230" height="230"/>
        <br>
        <span class="image-subtitle" > {{ employee.name }} </span>
  </li>
</ul>

<ng-template #empty> There is no data  </ng-template>
