<style>
  input {
    width: 150px;
  }
  input[type="number"] {
    -moz-appearance: textfield !important;
  }
  .submit-button {
    margin-left: 20px;
  }
  form {
    margin-left: 20px;
  }
</style>



<body>

<form class="form" [formGroup]="employeeForm" (ngSubmit)="onFormSubmitted(employeeForm.value)">
  <input type="text" formControlName="name" placeholder="Name">
  <input type="number" formControlName="age" placeholder="Age">
  <input type="number"  formControlName="salary" placeholder="Salary">
  <input type="submit" class="submit-button" [disabled]="employeeForm.invalid" value="Add new employee">
</form>

</body>

<!--TODO search employee na pasku na górze-->
